# vscode garbage
.vscode/**

# build folder
build
build-web
public/luabsge.wasm.js
public/luabsge.wasm.wasm
projects/webtest/luabsge.wasm.js
projects/webtest/luabsge.wasm.wasm
projects/webtest/luabsge.wasm.data

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json